.welcome {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.welcome.avatar {
	padding-top: 3rem;
}

.welcome.avatar img {
	padding-bottom: 1rem;
	width: 12.5%;
	border-radius: 100%;
}

.welcome.quote {
	font-size: 1.8rem;
	font-weight:200;
}

.line {
	border: 0;
	background-color: var(--pink);
	height: 1.5px;
	width: 80%;
}

.section .name {
	padding-bottom: 1rem;
	width: 100%;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}

/* Project Cards ---------------------------------------------------------*/
.projects {
	display:flex;
	flex-direction: column;

}

.projects div.title {
	padding: 0 1.2rem;
	font-size: 2.5rem;
	font-weight: 100;
}

.article {
	padding-bottom: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.article-image {
	height: 10rem;
}

.article-image img {
	height: 100%;
}

.article-text {
	padding: 0 2rem;
	width: 50rem;
}

.article-title {
	font-weight: 700;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--white);
	transition: 0.3s;
}
.article-title:hover {
	color: var(--pink);
}

.article-discription {
	padding-top: 0.8rem;
	text-align: justify;
}
